:root {
    --hashtag-color: #fff;
    --v: rgb(148, 0, 211);
    --i: rgb(75, 0, 130);
    --b: rgb(0, 0, 255);
    --g: rgb(0, 255, 0);
    --y: rgb(255, 255, 0);
    --o: rgb(255, 127, 0);
    --r: rgb(255, 0, 0);
    --xo: flex;
    --height: 400px;
    --width: 400px;
    --width-1: calc(var(--width) /4);
    --hash-space: calc((var(--width-1)/3) * 2);
    --width-2: calc(var(--width-1) + var(--hash-space));
    --width-3: calc(var(--width-2) + var(--hash-space));
    --width-4: calc(var(--width-3) + var(--hash-space));
    --margin: calc(var(--width) /40)
}

body {
    background-color: #000;
    height: 95vh;
    display: grid;
    justify-content: center;
    align-content: center;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
}

.container {
    display: var(--xo);
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    width: var(--width);
    height: var(--height);
}

.div-1,
.div-2,
.div-3,
.div-4,
.div-5,
.div-6,
.div-7 {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--width);
    height: var(--height);
}

.div-1 {
    margin: calc(var(--margin) * 3);
    transform: skew(-15deg);
    background-image: linear-gradient(90deg, transparent var(--width-1), var(--hashtag-color) var(--width-1), var(--hashtag-color) var(--width-2), transparent var(--width-2), transparent var(--width-3), var(--hashtag-color) var(--width-3), var(--hashtag-color) var(--width-4), transparent var(--width-4)), linear-gradient(transparent var(--width-1), var(--hashtag-color) var(--width-1), var(--hashtag-color) var(--width-2), transparent var(--width-2), transparent var(--width-3), var(--hashtag-color) var(--width-3), var(--hashtag-color) var(--width-4), transparent var(--width-4));
    filter: drop-shadow(-2.5mm -2.5mm 1mm rgb(100, 100, 100));
    z-index: 7;
}

.div-2 {
    margin: calc(var(--margin) * 2);
    transform: skew(-15deg);
    background-image: linear-gradient(90deg, transparent var(--width-1), var(--o) var(--width-1), var(--o) var(--width-2), transparent var(--width-2), transparent var(--width-3), var(--o) var(--width-3), var(--o) var(--width-4), transparent var(--width-4)), linear-gradient(transparent var(--width-1), var(--o) var(--width-1), var(--o) var(--width-2), transparent var(--width-2), transparent var(--width-3), var(--o) var(--width-3), var(--o) var(--width-4), transparent var(--width-4));
    z-index: 6;
}


.div-3 {
    margin: var(--margin);
    transform: skew(-15deg);
    background-image: linear-gradient(90deg, transparent var(--width-1), var(--y) var(--width-1), var(--y) var(--width-2), transparent var(--width-2), transparent var(--width-3), var(--y) var(--width-3), var(--y) var(--width-4), transparent var(--width-4)), linear-gradient(transparent var(--width-1), var(--y) var(--width-1), var(--y) var(--width-2), transparent var(--width-2), transparent var(--width-3), var(--y) var(--width-3), var(--y) var(--width-4), transparent var(--width-4));
    z-index: 5;
}


.div-4 {
    margin: 0;
    transform: skew(-15deg);
    background-image: linear-gradient(90deg, transparent var(--width-1), var(--g) var(--width-1), var(--g) var(--width-2), transparent var(--width-2), transparent var(--width-3), var(--g) var(--width-3), var(--g) var(--width-4), transparent var(--width-4)), linear-gradient(transparent var(--width-1), var(--g) var(--width-1), var(--g) var(--width-2), transparent var(--width-2), transparent var(--width-3), var(--g) var(--width-3), var(--g) var(--width-4), transparent var(--width-4));
    z-index: 4;
}


.div-5 {
    margin: calc(var(--margin) *-1);
    transform: skew(-15deg);
    background-image: linear-gradient(90deg, transparent var(--width-1), var(--b) var(--width-1), var(--b) var(--width-2), transparent var(--width-2), transparent var(--width-3), var(--b) var(--width-3), var(--b) var(--width-4), transparent var(--width-4)), linear-gradient(transparent var(--width-1), var(--b) var(--width-1), var(--b) var(--width-2), transparent var(--width-2), transparent var(--width-3), var(--b) var(--width-3), var(--b) var(--width-4), transparent var(--width-4));
    z-index: 3;
}


.div-6 {
    margin: calc(var(--margin) *-2);
    transform: skew(-15deg);
    background-image: linear-gradient(90deg, transparent var(--width-1), var(--i) var(--width-1), var(--i) var(--width-2), transparent var(--width-2), transparent var(--width-3), var(--i) var(--width-3), var(--i) var(--width-4), transparent var(--width-4)), linear-gradient(transparent var(--width-1), var(--i) var(--width-1), var(--i) var(--width-2), transparent var(--width-2), transparent var(--width-3), var(--i) var(--width-3), var(--i) var(--width-4), transparent var(--width-4));
    z-index: 2;
}


.div-7 {
    margin: calc(var(--margin) *-3);
    transform: skew(-15deg);
    background-image: linear-gradient(90deg, transparent var(--width-1), var(--v) var(--width-1), var(--v) var(--width-2), transparent var(--width-2), transparent var(--width-3), var(--v) var(--width-3), var(--v) var(--width-4), transparent var(--width-4)), linear-gradient(transparent var(--width-1), var(--v) var(--width-1), var(--v) var(--width-2), transparent var(--width-2), transparent var(--width-3), var(--v) var(--width-3), var(--v) var(--width-4), transparent var(--width-4));
    z-index: 1;
}

.div-2,
.div-3,
.div-4,
.div-5,
.div-6,
.div-7 {
    opacity: 0;
}

.div-1:hover,
.div-1:hover~.div-2,
.div-1:hover~.div-3,
.div-1:hover~.div-4,
.div-1:hover~.div-5,
.div-1:hover~.div-6,
.div-1:hover~.div-7 {
    opacity: 1;
}

.div-1:hover {
    background-image: linear-gradient(90deg, transparent var(--width-1), var(--r) var(--width-1), var(--r) var(--width-2), transparent var(--width-2), transparent var(--width-3), var(--r) var(--width-3), var(--r) var(--width-4), transparent var(--width-4)), linear-gradient(transparent var(--width-1), var(--r) var(--width-1), var(--r) var(--width-2), transparent var(--width-2), transparent var(--width-3), var(--r) var(--width-3), var(--r) var(--width-4), transparent var(--width-4));
    filter: drop-shadow(0 0);
}

html,
body,
div:hover,
div:focus {
    cursor: url("img/color-cursor-Flaticon.com.png"), auto;
}